body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
	width:550px;
	padding:40px;
}

button {
	margin-top: 150px;
	position: absolute;
	z-index: 10;
}

.next {
	right:0;
}

.carousel-image {
	position: absolute;
	margin-left:30%;
	margin-right:30%;
	z-index: 9;
}






/*
* classnames and settings for animations and transitions
*/
.current-enter {
  opacity: 0.01;
}

.current-enter.current-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.current-leave {
  opacity: 1;
}

.current-leave.current-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
