html,
body {
  padding: 0;
  margin: 0;
  cursor: default;
}

.glide--container {
  position: relative;
  height: 100%;
  display: flex;
  width: 100%;
}

.glide--item {
  position: absolute;
  /* display: none; */
  left: -999px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.glide--item.current {
  position: absolute;
  /* display: block; */
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.glide--next-btn,
.glide--prev-btn {
  position: absolute;
  z-index: 10;
  color: hsl(190, 95%, 80%);
  background-color: hsl(190, 10%, 10%);
  height: 60px;
  width: 35px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  top: 45%;
}

.glide--next-btn {
  right: 0;
}

.glide--prev-btn {
  left: 0;
}

.glide--dots {
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: 0;
  display: inline-flex;
  justify-content: center;
  font-size: 64px;
  margin-top: 100%;
  z-index: 100;
  cursor: pointer;
}

.glide--dots .active-dot {
  color: hsl(190, 95%, 80%);
}

/** Loading spinner */
.loading-indicator {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 44%;
  left: 45%;
  width: 5rem;
  height: 5rem;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: load8 0.6s linear infinite;
}

.loading-indicator:before {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-message {
  color: #263238;
  text-align: center;
}
